= form_for @user, html: { class: "form form-horizontal user" } do |f|
  .form-group
    = f.label :username, class: 'control-label'
    .controls
      = f.text_field :username, class: 'form-control', required: true
    = error_span(@user[:username])
  .form-group
    = f.label :password, class: 'control-label'
    .controls
      = f.text_field :password, class: 'form-control', required: true
    = error_span(@user[:password])
  = f.submit nil,class: 'btn btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), users_path, :class => 'btn btn-default'
